<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Mantis" >
        <classes>
            <class name="ru.stqa.course.mantis.tests.LoginTests"/>
            <class name="ru.stqa.course.mantis.tests.RegistrationTests"/>
            <class name="ru.stqa.course.mantis.tests.TestPasswordChange"/>
            <class name="ru.stqa.course.mantis.tests.HbConnectionTest"/>
            <class name="ru.stqa.course.mantis.tests.SoapTest"/>
        </classes>
    </test>
</suite>